#mainTitle{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-left: 35px;
    font-size: 70px;
    margin-bottom: 10px;
}
#mainTitlee{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-left: 35px;
    font-size: 100px;
    margin-bottom: 10px;
}

header nav a{
    text-decoration: none;
    color: #f3f3f3;    
}
body{
    background-color: rgb(250, 208, 144);
}
.articlesList li a{
    margin-right: 30px;
    font-size: 20px;
    color: black;
    display: inline-block;
    text-decoration: none;
}

.card{
    background-color: rgb(250, 208, 144);
 
}
#nav-link{
    align-self: center;
}
article{
    margin-bottom: 20px;
    margin-top: 20px;
}
footer{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightgrey;
}
#autor{
    margin-bottom: 10px;
    margin-top: 10px;
}
header{
    margin-bottom: 30px;
}
#ex {
    font-size: 21px;
}
#it {
    font-size: 30px;
}
#artImg {
    width: 500px;
    margin-left: 35%;
}  
#ta{
    font-size: 50px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#aa{
    font-size: 34px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#pa{
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}
